
html{
    background-color: rgb(123, 123, 180);
    font-size: 16px;
    background-image: url("background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    color: black;
    /* So it doesn't appear bad on Apple devices */
}
#title, #subtitle{
    margin: 0;
    border: 0;
    padding: 0;
    color: white;
}
#subtitle{
    padding-bottom: 1em;
}
#subtitle{
    font-size: 1em;
}
#selectionBar{
    height: 3em;
    border-radius: 1em;
    border-color: black;
    border-style: none;
    margin: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    
}
.selections{
    border-radius: 5px;
    border-width: 0.125em;
    border-color: transparent;
    background-color: transparent;
    font-size: 1.1em;
    margin-left: 1em;
    margin-right: 1em;
    font-weight: bold;
    padding: 0.25em;

}
#searchBar{
    height: 3em;
    border-radius: 1em;
    border-color: black;
    border-style: none;
    margin: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-top: 1em;
    
}

.selections:hover{
    cursor: pointer;
    border-color: black;
}
.selected{
    background-color: rgb(180, 50,0);
}
article{
    background-image: radial-gradient(rgba(255, 255, 255, 0.6), rgba(226, 226, 226, 0.6));
    background-color: rgba(226, 226, 226, 0.6);
    border-radius: 25px;
    width: 90%;
    margin: auto;
    text-align: center;

}
article>h2{
    padding-top: 1em;
}
article>img{
    width: 95%;
    max-width: 500px;
    height: 100%;
}
article>p{
    padding-left: 1em;
    padding-right: 1em;
}
/* #selectionsList*/
ul{
    list-style-type: none;
    overflow: hidden;
    margin: auto;
    padding: 0;
    width:fit-content;
    border-radius: 2px;
    border-style: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

li{
    float: left;
}


#toTop{
    position: fixed;
    border-radius: 0.5em;
    font-size: 1.1em;
    border-radius: 1em;
    top: 90%;
    left: 3%;
    height: 4em;
    width: 10em;
    box-shadow: none;
    border: none;
    background-color: rgb(180, 50,0);
    color: white;
}
#toTop:hover{
    background-color: rgb(128, 50, 0);
    cursor: pointer;
}
#toTop:active{
    background-color: rgb(90, 50, 0);
}
button{
    padding: 0;
    margin: 0;
}
.likes{
    background-color: rgb(180, 50,0);
    height: 3em;
    width: 6em;
    font-size: 1.1em;
    margin-bottom: 2em;
    border-radius: 1em;
    box-shadow: none;
    border-style: none;
    color: white;
}
.likes:hover{
    background-color: rgb(128, 50, 0);
    cursor: pointer;
}
.likes:active{
    background-color: rgb(90, 50, 0);
}
.modeExplanations{
    font-size: 1.25em;
    text-align: center;
    color: rgb(255, 255, 255);
}
.datePicker{
    font-size: 1.1em;
    color: black;
}