html{
    font-size: 16px;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    padding: 0;
    margin: 0;
    color: black;
}
h1, h2{
    margin: 0;
    border: 0;
    padding: 0;
    color: white;
}
h2{
    padding-bottom: 1em;
    font-size: 1em;
}
a{
    color: white;
}
#selectionBar{
    height: 3em;
    border-radius: 1em;
    border-color: black;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    background-color: rgba(255, 255, 255, 0.8);   
}
ul{
    list-style-type: none;
    overflow: hidden;
    margin: auto;
    padding: 0;
    width:fit-content;
    border-style: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
li{
    float: left;
}
.selection{
    border-radius: 5px;
    border-width: 0.125em;
    border-color: transparent;
    background-color: transparent;
    font-size: 1.1em;
    margin-left: 1em;
    margin-right: 1em;
    font-weight: bold;
    padding: 0.25em;

}
.selection:hover{
    cursor: pointer;
    border-color: black;
}
.selected{
    background-color: rgb(180, 50,0);
}
.modeExplanation{
    font-size: 1.25em;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0.1em 0.1em black;
}
#searchBar{
    height: 3em;
    border-radius: 1em;
    border-color: black;
    border-style: none;
    margin: auto;
    margin-top: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}
label, input, #search, #clear{
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
label{
    font-size: 1.2em;
    color: black;
}
input{
    font-size: 0.8em;

}   
.searchBarButton{
    height: 2em;
    width: 4em;
    font-size: 0.8em;
}
article{
    background-color: rgba(226, 226, 226, 0.6);
    border-radius: 1.5em;
    width: 90%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;

}
article>h3{
    padding-top: 1em;
}
article>img{
    width: 95%;
    max-width: 32em;
    height: 100%;
}
article>p{
    padding-left: 1em;
    padding-right: 1em;
}
.like{
    background-color: rgb(180, 50,0);
    height: 3em;
    width: 6em;
    font-size: 1.1em;
    margin-bottom: 1em;
    border-radius: 1em;
    border-style: none;
    color: white;
}
.like:hover{
    background-color: rgb(128, 50, 0);
    cursor: pointer;
}
.like:active{
    background-color: rgb(90, 50, 0);
}

#toTop{
    position: fixed;
    border-radius: 0.5em;
    font-size: 1em;
    border-radius: 1em;
    top: 90%;
    left: 3%;
    height: 4em;
    width: 10em;
    border: none;
    background-color: rgb(180, 50,0);
    color: white;
}
#toTop:hover{
    background-color: rgb(128, 50, 0);
    cursor: pointer;
}
#toTop:active{
    background-color: rgb(90, 50, 0);
}